
@import "./usersNavbar.css";
@import "./userInfoPage/packages.css";
@import "./userInfoPage/timeTable.css";
@import "./userInfoPage/timeLine.css";
@import "./userInfoPage/orderCard.css";
@import "./userInfoPage/xdialog.3.4.0.css";

article {
    display: flex;
    width: 90vw;
    color: rgb(65, 81, 98);
}

aside {
    width: 20vw;
}

section {
    width: 80vw;
}

#calendar {
    width: 75vw;
}

#userInfoDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#usersImages {
    width: 40px;
    height: 40px;
}

#userInfoTitle {
    display: flex;
    justify-content: space-between;
    color: rgb(65, 81, 98);
}

.nav-item {
    cursor: pointer;
    color: rgb(65, 81, 98);
}


.menu {
    font-size: 1.2rem;
    position: absolute;
    top: 1.5rem;
    right: 1.3rem;
}

@media only screen and (max-width: 900px) {
    article {
        flex-direction: column;
    }

    #chart {
        display: flex;
        flex-direction: column;
    }

    .sidebar {
        display: none;
    }


    .show_sidebar {
        margin-left: 0;
    }

    .push_body {
        margin-left: 30rem;
    }
}