
@import "./usersNavbar.css";
@import "./userInfoPage/timeTable.css";
@import "./userInfoPage/xdialog.3.4.0.css";

article {
    display: flex;
    width: 90vw;
}

aside {
    width: 20vw;
}

section {
    width: 80vw;
}

#calendar {
    width: 75vw;
}

#userInfoDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#usersImages {
    width: 40px;
    height: 40px;
}

#userInfoTitle {
    display: flex;
    justify-content: space-between;
}

